.Navbar {
  display: block;
  height:50px;
  padding-bottom: 10px;
  /* padding-top: 5px; */
  border-bottom: 1px solid lightgray;
}

.Navbar h1 {
  font-size: 3em;
  font-family: 'Cinzel';
  margin-bottom: 5px;
}

.companies-outer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 30vh;
}
.companies-inner{
  display: flex;
  align-items: center;
  justify-content: center;
}
.company {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid lightgray;
  border-radius: 10px;
  height: 200px;
  width: 450px;
  margin-left: 20px;
  margin-right: 20px;
  overflow: hidden;
}

img {
  height: 200px;
  width: 400px;
}


@media only screen and (max-width : 1000px) {
  .companies-inner{
    flex-direction: column;
  }
  .company {
    margin-top: 30px;
  }

}

@media only screen and (max-width : 768px) {
  .companies-inner{
    flex-direction: column;
  }
  .company {
    margin-top: 30px;
    height: 100px;
    width: 225px;
  }
  img {
    height: 100px;
    width: 200px;
  }
}
