{% extends "base.html" %}
{% block content %}
<div class="companies-outer">
  <h3>Choose a company to see open positions</h3>
  <div class="companies-inner">
    <div class="company">
      <a href="/twilio">
        <img src='https://www.twilio.com/marketing/bundles/company-brand/img/logos/red/twilio-logo-red.png' alt="">
      </a>
    </div>
    <div class="company">
      <a href="/airbnb">
        <img src="https://upload.wikimedia.org/wikipedia/commons/6/69/Airbnb_Logo_B%C3%A9lo.svg" alt="">
      </a>
    </div>
    <div class="company">
      <a href="/yext">
        <img src="https://upload.wikimedia.org/wikipedia/commons/a/a0/Yext-logo.svg" alt="">
      </a>
    </div>
  </div>
</div>
{% endblock %}
